.music-player {
  background-color: #e59f9f;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.album-cover img {
  max-width: 100%;
  padding: 20px;
}

.audio-controls {
  width: 100%;
  padding: 10px;
}
.audio-controls button {
  margin: 2px;
  border: none;
  color: rgb(126, 126, 231);
}

.song-info h3 {
  font-size: 18px;
  margin: 10px 0;
}

.song-info p {
  font-size: 14px;
  color: #888;
}
